{% extends 'layouts/error-page.njk' %}
{% from "partials/help-desk-link.njk" import helpDeskLink %}

{% block errorBody %}
  <p class="govuk-body">Email {{ helpDeskLink(helpDeskEmail) }} if you need help.</p>
{% endblock %}
