{% extends 'layouts/error-page.njk' %}

{% block errorBody %}
  <p class="govuk-body">{{ t(locale, 'errors.notFound.body1') }}</p>
  <p class="govuk-body">{{ t(locale, 'errors.notFound.body2') }}</p>
  <p class="govuk-body">{{ t(locale, 'errors.notFound.body3Prefix') }} {{ helpDeskLink() }}.</p>
{% endblock %}
