{% extends 'layouts/page.njk' %}
{% from "error/partials/help-desk-link.njk" import helpDeskLink %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">{{ pageTitle }}</h1>
      <p class="govuk-body">If you typed the web address, check it is correct.</p>
      <p class="govuk-body">If you pasted the web address, check you copied the entire address.</p>
      <p class="govuk-body">If the web address is correct or you selected a link or a button, email {{ helpDeskLink(helpDeskEmail) }}.</p>
    </div>
  </div>
{% endblock %}
