{% extends 'layouts/error-page.njk' %}

{% block errorBody %}
  <p class="govuk-body">{{ t(locale, 'errors.problemWithService.tryAgain') }}</p>
  <p class="govuk-body">{{ t(locale, 'errors.contactHelpDeskPrefix') }} {{ helpDeskLink() }} {{ t(locale, 'errors.helpDeskEmailText') }}</p>
{% endblock %}
