{% extends 'layouts/error-page.njk' %}

{% block errorBody %}
  {% if availableFrom %}
    <p class="govuk-body">{{ t(locale, 'errors.serviceUnavailable.availableFrom', { availableFrom: availableFrom }) }}</p>
  {% else %}
    <p class="govuk-body">{{ t(locale, 'errors.serviceUnavailable.tryAgain') }}</p>
  {% endif %}
  <p class="govuk-body">{{ t(locale, 'errors.contactHelpDeskPrefix') }} {{ helpDeskLink() }} {{ t(locale, 'errors.helpDeskEmailText') }}</p>
{% endblock %}
