{% extends 'layouts/page.njk' %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block content %}
  {{ appHeading({
    text: heading,
    caption: ""
  }) }}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h2 class="govuk-heading-l govuk-!-margin-bottom-2">
        {{ accountDetails.organisationName }}
      </h2>
      <h3 class="govuk-heading-m govuk-caption-l govuk-!-margin-bottom-2">
        {{ accountDetails.firstName }}
        {{ accountDetails.lastName }}
      </h3>
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <div class="govuk-body" data-testid="regulator-home__content">
        {% if accountDetailsError %}
          <p class="govuk-body" data-testid="regulator-home__account-details-error">{{ accountDetailsError }}</p>
        {% endif %}

        {% if accountDetails %}
          <dl class="govuk-summary-list" data-testid="regulator-home__account-details">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">Service role ID</dt>
              <dd class="govuk-summary-list__value" data-testid="regulator-home__account-service-role-id">
                {{ accountDetails.serviceRoleId }}
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">Nation ID</dt>
              <dd class="govuk-summary-list__value" data-testid="regulator-home__account-nation-id">
                {{ accountDetails.nationId }}
              </dd>
            </div>
          </dl>
        {% endif %}

        <div class="govuk-!-margin-bottom-2">
          <a class="govuk-link govuk-link--no-visited-state govuk-body-l govuk-!-font-weight-bold" href="{{ azureBaseUrl }}/regulators/manage-account/manage">
            Manage your account
          </a>
        </div>
        <p class="govuk-body">Add or remove team members from your account</p>

        <div class="govuk-!-margin-bottom-2">
          <a class="govuk-link govuk-link--no-visited-state govuk-body-l govuk-!-font-weight-bold" href="{{ azureBaseUrl }}/regulators/applications">
            Manage applications for approved and delegated people
          </a>
        </div>
        <p class="govuk-body">View, accept or reject applications for approved and delegated persons</p>

        <div class="govuk-!-margin-bottom-2">
          <a class="govuk-link govuk-link--no-visited-state govuk-body-l govuk-!-font-weight-bold" href="{{ azureBaseUrl }}/regulators/manage-registration-submissions">
            Manage registration submissions
          </a>
        </div>
        <p class="govuk-body">View, accept or reject registration application submissions</p>

        <div class="govuk-!-margin-bottom-2">
          <a class="govuk-link govuk-link--no-visited-state govuk-body-l govuk-!-font-weight-bold" href="{{ azureBaseUrl }}/regulators/manage-packaging-data-submissions">
            Manage packaging data submissions
          </a>
        </div>
        <p class="govuk-body">View, accept or reject packaging data submissions</p>

        <div class="govuk-!-margin-bottom-2">
          <a class="govuk-link govuk-link--no-visited-state govuk-body-l govuk-!-font-weight-bold" href="{{ azureBaseUrl }}/regulators/manage-registrations">
            Manage organisation details submissions
          </a>
        </div>
        <p class="govuk-body">View, accept or reject organisation details submissions</p>

        <div class="govuk-!-margin-bottom-2">
          <a class="govuk-link govuk-link--no-visited-state govuk-body-l govuk-!-font-weight-bold" href="{{ azureBaseUrl }}/regulators/regulator-search-page">
            Manage organisation and their approved person
          </a>
        </div>
        <p class="govuk-body">Remove or invite approved persons</p>

        {% if features.certificateOfCompliance %}
          <div class="govuk-!-margin-bottom-2">
            <a class="govuk-link govuk-link--no-visited-state govuk-body-l govuk-!-font-weight-bold" href="{{ certificateOfComplianceBaseUrl }}/certificates-of-compliance">
              View certificates and statements of compliance
            </a>
          </div>
          <p class="govuk-body">View, accept or cancel certificates and statements of compliance</p>
        {% endif %}
      </div>

      {{ govukButton({
        text: "Log out",
        href: "/logout",
        classes: "govuk-button--secondary"
      }) }}
    </div>
  </div>

{% endblock %}
