{% extends 'layouts/page.njk' %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <div class="govuk-body" data-testid="regulator-home__content">
        <div class="govuk-!-margin-bottom-2">
          <a class="govuk-link govuk-link--no-visited-state govuk-body-l govuk-!-font-weight-bold" href="{{ azureBaseUrl }}/regulators/manage-account/manage">
            {{ homeI18n.t('tasks.manageAccount.link') }}
          </a>
        </div>
        <p class="govuk-body">{{ homeI18n.t('tasks.manageAccount.description') }}</p>

        <div class="govuk-!-margin-bottom-2">
          <a class="govuk-link govuk-link--no-visited-state govuk-body-l govuk-!-font-weight-bold" href="{{ azureBaseUrl }}/regulators/applications">
            {{ homeI18n.t('tasks.manageApplications.link') }}
          </a>
        </div>
        <p class="govuk-body">{{ homeI18n.t('tasks.manageApplications.description') }}</p>

        <div class="govuk-!-margin-bottom-2">
          <a class="govuk-link govuk-link--no-visited-state govuk-body-l govuk-!-font-weight-bold" href="{{ azureBaseUrl }}/regulators/manage-registration-submissions">
            {{ homeI18n.t('tasks.manageRegistrationSubmissions.link') }}
          </a>
        </div>
        <p class="govuk-body">{{ homeI18n.t('tasks.manageRegistrationSubmissions.description') }}</p>

        <div class="govuk-!-margin-bottom-2">
          <a class="govuk-link govuk-link--no-visited-state govuk-body-l govuk-!-font-weight-bold" href="{{ azureBaseUrl }}/regulators/manage-packaging-data-submissions">
            {{ homeI18n.t('tasks.managePackagingDataSubmissions.link') }}
          </a>
        </div>
        <p class="govuk-body">{{ homeI18n.t('tasks.managePackagingDataSubmissions.description') }}</p>

        <div class="govuk-!-margin-bottom-2">
          <a class="govuk-link govuk-link--no-visited-state govuk-body-l govuk-!-font-weight-bold" href="{{ azureBaseUrl }}/regulators/manage-registrations">
            {{ homeI18n.t('tasks.manageOrganisationDetails.link') }}
          </a>
        </div>
        <p class="govuk-body">{{ homeI18n.t('tasks.manageOrganisationDetails.description') }}</p>

        <div class="govuk-!-margin-bottom-2">
          <a class="govuk-link govuk-link--no-visited-state govuk-body-l govuk-!-font-weight-bold" href="{{ azureBaseUrl }}/regulators/regulator-search-page">
            {{ homeI18n.t('tasks.manageOrganisationApprovedPerson.link') }}
          </a>
        </div>
        <p class="govuk-body">{{ homeI18n.t('tasks.manageOrganisationApprovedPerson.description') }}</p>

        {% if features.certificateOfCompliance %}
          <div class="govuk-!-margin-bottom-2">
            <a class="govuk-link govuk-link--no-visited-state govuk-body-l govuk-!-font-weight-bold" href="{{ certificateOfComplianceBaseUrl }}/certificates-of-compliance">
              {{ homeI18n.t('tasks.certificatesOfCompliance.link') }}
            </a>
          </div>
          <p class="govuk-body">{{ homeI18n.t('tasks.certificatesOfCompliance.description') }}</p>
        {% endif %}
      </div>

    </div>
  </div>

{% endblock %}
