{% extends 'layouts/page.njk' %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block content %}
  {{ appHeading({
    text: heading,
    caption: ""
  }) }}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h2 class="govuk-heading-l govuk-!-margin-bottom-2">
        {{ accountDetails.organisationName }}
      </h2>
      <h3 class="govuk-heading-m govuk-caption-l govuk-!-margin-bottom-2">
        {{ accountDetails.firstName }}
        {{ accountDetails.lastName }}
      </h3>
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <div class="govuk-body" data-testid="regulator-home__content">
        {% if accountDetailsError %}
          <p class="govuk-body" data-testid="regulator-home__account-details-error">{{ accountDetailsError }}</p>
        {% endif %}

        {% if accountDetails %}
          <dl class="govuk-summary-list" data-testid="regulator-home__account-details">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">Service role ID</dt>
              <dd class="govuk-summary-list__value" data-testid="regulator-home__account-service-role-id">
                {{ accountDetails.serviceRoleId }}
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">Nation ID</dt>
              <dd class="govuk-summary-list__value" data-testid="regulator-home__account-nation-id">
                {{ accountDetails.nationId }}
              </dd>
            </div>
          </dl>
        {% endif %}

        {% if features.certificateOfCompliance %}
          <p>Certificate of Compliance placeholder</p>
        {% endif %}
      </div>

      {{ govukButton({
        text: "Log out",
        href: "/logout",
        classes: "govuk-button--secondary"
      }) }}
    </div>
  </div>

{% endblock %}
