{% set bodyClasses = "defra-internal" %}
{% extends "govuk/template.njk" %}

{# Import GOVUK components globally #}
{% from "govuk/components/service-navigation/macro.njk" import govukServiceNavigation %}
{% from "govuk/components/cookie-banner/macro.njk" import govukCookieBanner %}
{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}

{# Import custom components globally #}
{% from "heading/macro.njk" import appHeading %}
{% from "defra-internal-header/macro.njk" import defraInternalHeader %}
{% from "defra-internal-footer/macro.njk" import defraInternalFooter %}

{% block headIcons %}
  <link rel="icon" sizes="any" href="{{ assetPath }}/images/govuk-crest.svg" type="image/svg+xml">
{% endblock %}

{% block head %}
  {% if ga4 and gtm and useGoogleAnalytics %}
    <!-- Google tag (gtag.js) -->
    <script nonce="{{ cspNonce }}">
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag('consent', 'default', {
        'ad_user_data': 'denied',
        'ad_personalization': 'denied',
        'ad_storage': 'denied',
        'analytics_storage': 'denied'
      });
      {% if allowGoogleAnalytics %}
        gtag('consent', 'update', {
          'analytics_storage': 'granted'
        });
      {% endif %}
    </script>
    <script async src="https://www.googletagmanager.com/gtag/js?id={{ ga4 }}" nonce="{{ cspNonce }}"></script>
    <script nonce="{{ cspNonce }}">
      gtag('js', new Date());
      gtag('config', '{{ ga4 }}');
    </script>
    <!-- Google Tag Manager -->
    <script nonce="{{ cspNonce }}">
      (function (w, d, s, l, i) {
        w[l] = w[l] || [];
        w[l].push({'gtm.start': new Date().getTime(), event: 'gtm.js'});
        var f = d.getElementsByTagName(s)[0],
          j = d.createElement(s),
          dl = l != 'dataLayer'
            ? '&l=' + l
            : '';
        j.async = true;
        j.src = 'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
        j.setAttribute('nonce', '{{ cspNonce }}');
        f.parentNode.insertBefore(j, f);
      })(window, document, 'script', 'dataLayer','{{ gtm }}');
    </script>
    <!-- End Google Tag Manager -->
  {% endif %}
  <link href="{{ getAssetPath('stylesheets/application.scss') }}" rel="stylesheet">
{% endblock %}

{% block header %}
  {{ defraInternalHeader({
    organisationName: "Department for Environment,<br>Food &amp; Rural Affairs",
    homepageUrl: "/",
    navigation: accountNavigation
  }) }}
  {{ govukServiceNavigation({
    serviceName: serviceName,
    serviceUrl: "/",
    navigationId: "service-navigation",
    navigation: navigation,
    slots: { end: regulatorContext | safe }
  }) }}
{% endblock %}

{% block bodyStart %}
  {% if allowGoogleAnalytics and ga4 and gtm and useGoogleAnalytics %}
    <!-- Google Tag Manager (noscript) -->
    <noscript>
      <iframe
        src="https://www.googletagmanager.com/ns.html?id={{ gtm }}"
        height="0"
        width="0"
        style="display:none;visibility:hidden"></iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->
  {% endif %}
  {% if not hasCookiePolicy and not cookiePreferenceSet %}
    <form action="/cookies/banner" method="post" novalidate>
      {{ govukCookieBanner({
        ariaLabel: "Cookies on " + serviceName,
        messages: [
          {
            headingText: "Cookies on " + serviceName,
            html: '<p class="govuk-body">We use some essential cookies to make this service work.</p>
              <p class="govuk-body">We’d also like to use analytics cookies so we can understand how you use the service and make improvements.</p>',
            actions: [
              {
                text: "Accept analytics cookies",
                type: "submit",
                name: "analytics",
                value: "yes"
              },
              {
                text: "Reject analytics cookies",
                type: "submit",
                name: "analytics",
                value: "no"
              },
              {
                text: "View cookies",
                href: "/cookies"
              }
            ]
          }
        ]
      }) }}
    </form>
  {% elif cookiePreferenceSet %}
    {% set actionWord = "accepted" if allowGoogleAnalytics else "rejected" %}
    <form action="/cookies/hide-banner" method="post" novalidate>
      {{ govukCookieBanner({
        ariaLabel: "Cookies on " + serviceName,
        messages: [
          {
            html: '<p class="govuk-body">You’ve ' + actionWord + ' analytics cookies. You can <a class="govuk-link" href="/cookies">change your cookie settings</a> at any time.</p>',
            role: "alert",
            actions: [
              {
                text: "Hide cookie message",
                type: "submit",
                name: "cookies[hide]",
                value: "hide"
              }
            ]
          }
        ]
      }) }}
    </form>
  {% endif %}
{% endblock %}

{% block pageTitle %}
  {{ pageTitle }} | {{ serviceName }}
{% endblock %}

{% block beforeContent %}
  {% if breadcrumbs.length > 1 %}
    {{ govukBreadcrumbs({
      items: breadcrumbs
    }) }}
  {% endif %}
{% endblock %}

{% block content %}{% endblock %}

{% block footer %}
  {{ defraInternalFooter({
    getHelp: {
      email: "eprcustomerservice@defra.gov.uk",
      telephone: "0300 060 0002",
      hours: "Monday to Friday, 8am to 6pm"
    },
    links: [
      { href: "https://www.gov.uk/help/accessibility-statement", text: "Accessibility statement" },
      { href: "/cookies", text: "Cookies" },
      { href: "https://www.gov.uk/help/privacy-notice", text: "Privacy" }
    ]
  }) }}
{% endblock %}

{% block bodyEnd %}
  <script type="module" src="{{ getAssetPath('application.js') }}"></script>
{% endblock %}
