{% set bodyClasses = "defra-internal" %}
{% extends "govuk/template.njk" %}

{# Import GOVUK components globally #}
{% from "govuk/components/service-navigation/macro.njk" import govukServiceNavigation %}
{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}

{# Import custom components globally #}
{% from "heading/macro.njk" import appHeading %}
{% from "defra-internal-header/macro.njk" import defraInternalHeader %}
{% from "defra-internal-footer/macro.njk" import defraInternalFooter %}

{% set regulatorContext %}
  <p class="defra-internal-service-navigation__context">{{ accountDetails.organisationName }}</p>
{% endset %}

{% block head %}
  {% if allowGoogleAnalytics and ga.id and ga.tag and useGoogleAnalytics %}
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id={{ ga.id }}" nonce="{{ cspNonce }}"></script>
    <script nonce="{{ cspNonce }}">
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', '{{ ga.id }}');
    </script>
    <!-- Google Tag Manager -->
    <script nonce="{{ cspNonce }}">
      (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        'https://www.googletagmanager.com/gtm.js?id='+i+dl;j.setAttribute('nonce', '{{ cspNonce }}');f.parentNode.insertBefore(j,f);
      })(window,document,'script','dataLayer','{{ ga.tag }}');
    </script>
    <!-- End Google Tag Manager -->
  {% endif %}
  <link href="{{ getAssetPath('stylesheets/application.scss') }}" rel="stylesheet">
  {% endblock %}
  {% block header %}
    {{ defraInternalHeader({
      user: { name: accountDetails.firstName + " " + accountDetails.lastName },
      signOut: { href: "/logout", text: "Sign out" }
    }) }}
    {{ govukServiceNavigation({
      serviceName: serviceName,
      serviceUrl: "/v3/regulator-index",
      navigationId: "service-navigation",
      navigation: [
        { href: "#", text: "Search" },
        { href: "#", text: "Manage account" }
      ],
      slots: { end: regulatorContext }
    }) }}
  {% endblock %}

{% block bodyStart %}
  {% if allowGoogleAnalytics and ga.id and ga.tag and useGoogleAnalytics %}
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id={{ ga.tag }}" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
  {% endif %}
{% endblock %}

  {% block pageTitle %}
    {{ pageTitle }} | {{ serviceName }}
  {% endblock %}

  {% block beforeContent %}
    {% if breadcrumbs.length > 1 %}
      {{ govukBreadcrumbs({
      items: breadcrumbs
    }) }}
    {% endif %}
  {% endblock %}

  {% block content %}{% endblock %}

  {% block footer %}
    {{ defraInternalFooter({
      getHelp: {
        email: "eprcustomerservice@defra.gov.uk",
        telephone: "0300 060 0002",
        hours: "Monday to Friday, 8am to 6pm"
      },
      links: [
        { href: "https://www.gov.uk/help/accessibility-statement", text: "Accessibility statement" },
        { href: "https://www.gov.uk/help/cookies", text: "Cookies" },
        { href: "https://www.gov.uk/help/privacy-notice", text: "Privacy" }
      ]
    }) }}
  {% endblock %}

  {% block bodyEnd %}
    <script type="module" src="{{ getAssetPath('application.js') }}"></script>
  {% endblock %}
