{% set htmlLang = locale %}
{% set bodyClasses = "defra-internal" %}
{% extends "govuk/template.njk" %}

{# Import GOVUK components globally #}
{% from "govuk/components/service-navigation/macro.njk" import govukServiceNavigation %}
{% from "govuk/components/cookie-banner/macro.njk" import govukCookieBanner %}
{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}

{# Import custom components globally #}
{% from "heading/macro.njk" import appHeading %}
{% from "defra-internal-header/macro.njk" import defraInternalHeader %}
{% from "defra-internal-footer/macro.njk" import defraInternalFooter %}

{% block headIcons %}
  <link rel="icon" sizes="any" href="{{ assetPath }}/images/govuk-crest.svg" type="image/svg+xml">
{% endblock %}

{% block head %}
  {% if ga4 and gtm and useGoogleAnalytics %}
    <!-- Google tag (gtag.js) -->
    <script nonce="{{ cspNonce }}">
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag('consent', 'default', {
        'ad_user_data': 'denied',
        'ad_personalization': 'denied',
        'ad_storage': 'denied',
        'analytics_storage': 'denied'
      });
      {% if hasCookiePolicy %}
        {% set consent = "granted" if allowGoogleAnalytics else "denied" %}
        gtag('consent', 'update', {
          'ad_user_data': '{{ consent }}',
          'ad_personalization': '{{ consent }}',
          'ad_storage': '{{ consent }}',
          'analytics_storage': '{{ consent }}'
        });
      {% endif %}
    </script>
    <script async src="https://www.googletagmanager.com/gtag/js?id={{ ga4 }}" nonce="{{ cspNonce }}"></script>
    <script nonce="{{ cspNonce }}">
      gtag('js', new Date());
      gtag('config', '{{ ga4 }}');
    </script>
    <!-- Google Tag Manager -->
    <script nonce="{{ cspNonce }}">
      (function (w, d, s, l, i) {
        w[l] = w[l] || [];
        w[l].push({'gtm.start': new Date().getTime(), event: 'gtm.js'});
        var f = d.getElementsByTagName(s)[0],
          j = d.createElement(s),
          dl = l != 'dataLayer'
            ? '&l=' + l
            : '';
        j.async = true;
        j.src = 'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
        j.setAttribute('nonce', '{{ cspNonce }}');
        f.parentNode.insertBefore(j, f);
      })(window, document, 'script', 'dataLayer','{{ gtm }}');
    </script>
    <!-- End Google Tag Manager -->
  {% endif %}
  <link href="{{ getAssetPath('stylesheets/application.scss') }}" rel="stylesheet">
{% endblock %}

{% block header %}
  {{ defraInternalHeader({
    organisationName: t(locale, "common.organisationName") | safe,
    homepageUrl: localeUrl("/"),
    navigation: accountNavigation
  }) }}
  {% set languageSwitcherEnd %}
    <div class="service-navigation-end">
      <nav class="language-toggle-nav" aria-label="{{ t(locale, 'common.languageSwitcher.label') }}">
        <ul class="language-toggle">
          <li class="language-toggle__option">
            {% if locale == 'cy' %}
              <a class="govuk-link govuk-link--no-visited-state" href="{{ languageSwitcher.en }}" lang="en">{{ t(locale, "common.languageSwitcher.english") }}</a>
            {% else %}
              <span class="language-toggle__active" lang="en">{{ t(locale, "common.languageSwitcher.english") }}</span>
            {% endif %}
          </li>
          <li class="language-toggle__option">
            {% if locale == 'cy' %}
              <span class="language-toggle__active" lang="cy">{{ t(locale, "common.languageSwitcher.welsh") }}</span>
            {% else %}
              <a class="govuk-link govuk-link--no-visited-state" href="{{ languageSwitcher.cy }}" lang="cy">{{ t(locale, "common.languageSwitcher.welsh") }}</a>
            {% endif %}
          </li>
        </ul>
      </nav>
      {{ regulatorContext | safe }}
    </div>
  {% endset %}
  {{ govukServiceNavigation({
    serviceName: serviceName,
    serviceUrl: serviceUrl,
    navigationId: "service-navigation",
    navigation: navigation,
    slots: { end: languageSwitcherEnd }
  }) }}
{% endblock %}

{% block bodyStart %}
  {% if allowGoogleAnalytics and ga4 and gtm and useGoogleAnalytics %}
    <!-- Google Tag Manager (noscript) -->
    <noscript>
      <iframe
        src="https://www.googletagmanager.com/ns.html?id={{ gtm }}"
        height="0"
        width="0"
        style="display:none;visibility:hidden"></iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->
  {% endif %}
  {% if not hasCookiePolicy and not cookiePreferenceSet %}
    <form action="{{ localeUrl('/cookies/banner') }}" method="post" novalidate>
      {{ govukCookieBanner({
        ariaLabel: t(locale, "common.cookieBanner.ariaLabel", { serviceName: serviceName }),
        messages: [
          {
            headingText: t(locale, "common.cookieBanner.heading", { serviceName: serviceName }),
            html: t(locale, "common.cookieBanner.essentialHtml"),
            actions: [
              {
                text: t(locale, "common.cookieBanner.acceptAnalytics"),
                type: "submit",
                name: "analytics",
                value: "yes"
              },
              {
                text: t(locale, "common.cookieBanner.rejectAnalytics"),
                type: "submit",
                name: "analytics",
                value: "no"
              },
              {
                text: t(locale, "common.cookieBanner.viewCookies"),
                href: localeUrl("/cookies")
              }
            ]
          }
        ]
      }) }}
    </form>
  {% elif cookiePreferenceSet %}
    {% set preferenceKey = "common.cookieBanner.preferenceAccepted" if allowGoogleAnalytics else "common.cookieBanner.preferenceRejected" %}
    <form action="{{ localeUrl('/cookies/hide-banner') }}" method="post" novalidate>
      {{ govukCookieBanner({
        ariaLabel: t(locale, "common.cookieBanner.ariaLabel", { serviceName: serviceName }),
        messages: [
          {
            html: t(locale, preferenceKey, { cookiesUrl: localeUrl("/cookies") }),
            role: "alert",
            actions: [
              {
                text: t(locale, "common.cookieBanner.hideMessage"),
                type: "submit",
                name: "cookies[hide]",
                value: "hide"
              }
            ]
          }
        ]
      }) }}
    </form>
  {% endif %}
{% endblock %}

{% block pageTitle %}
  {{ pageTitle }} | {{ serviceName }}
{% endblock %}

{% block beforeContent %}
  {% if breadcrumbs.length > 1 %}
    {{ govukBreadcrumbs({
      items: breadcrumbs
    }) }}
  {% endif %}
{% endblock %}

{% block content %}{% endblock %}

{% block footer %}
  {{ defraInternalFooter({
    getHelp: {
      heading: t(locale, "common.footer.getHelp"),
      email: "eprcustomerservice@defra.gov.uk",
      emailLabel: t(locale, "common.footer.emailLabel"),
      telephone: "0300 060 0002",
      telephoneLabel: t(locale, "common.footer.telephoneLabel"),
      hours: t(locale, "common.footer.hours")
    },
    links: [
      { href: "https://www.gov.uk/help/accessibility-statement", text: t(locale, "common.footer.accessibility") },
      { href: localeUrl("/cookies"), text: t(locale, "common.footer.cookies") },
      { href: "https://www.gov.uk/help/privacy-notice", text: t(locale, "common.footer.privacy") }
    ],
    supportLinksLabel: t(locale, "common.footer.supportLinks"),
    oglPrefix: t(locale, "common.footer.oglPrefix"),
    oglLink: t(locale, "common.footer.oglLink"),
    oglSuffix: t(locale, "common.footer.oglSuffix"),
    crownCopyright: t(locale, "common.footer.crownCopyright")
  }) }}
{% endblock %}

{% block bodyEnd %}
  <script type="module" src="{{ getAssetPath('application.js') }}"></script>
{% endblock %}
